<div class="flex flex-col justify-center h-screen mx-3">
    <h1 class="text-5xl mb-4 font-bold">FlightBooker</h1>

        <%= render 'search_form' %>

        <% if @search_results.empty? %>
            <h4>Search for flight...</h4>
        <% else %>
            <%= render 'search_results' %>
        <% end %>
</div>
