<div class="text-xl">
    <%= "#{@flight.datetime.strftime("%B %d %Y")}, " %>
    <%= @flight.datetime.strftime('%I:%M %p') %>
    <%= "| #{@flight.departure_airport.code} - #{@flight.arrival_airport.code}" %>
</div>


