<div class="flex items-center gap-x-3">
    <h4 class="text-xl italic">Flight Details:</h4>
    <div>
        <p>ID: <%= @flight.id %></p>
        <p>From: <%= @flight.from %></p>
        <p>To: <%= @flight.to %></p>
    </div>
</div>


