<div class="flex flex-col justify-center h-screen mx-3">
    <div class="md:flex md:items-center md:gap-x-3 mb-4">
        <h1 class="text-5xl mb-4 font-bold">Booking</h1>

        <div class="my-3">
            <%= render 'flight_details' %>
        </div>
    </div>

    <div class="md:self-center">
        <%= render 'passenger_form' %>
    </div>
</div>

